{% extends 'MmiBlogBundle::layout.html.twig' %}

{% block content_content %}
    <div>
        <h1> SALUT JE SUIS UN TEST </h1>
    </div>
{% endblock %}

{% block content_sidebar %}
    
    <p> Salut toi </p>
{% endblock %}
